@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Public+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Public+Sans:wght@300;400;500;700&display=swap");

:root {
  --slightly-desaturated-cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
  --bright-red: #f43030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 4rem 12rem 0 12rem;
  font-family: "Public Sans", sans-serif;
  background-color: var(--light-grey);
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Public Sans", sans-serif;
}

.nav-links > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40rem;
}

.nav-links > ul > li {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--grayish-dark-blue);
  cursor: pointer;
  letter-spacing: 0.2rem;
  padding-bottom: 0.5rem;
}

.li-active {
  border-bottom: 3px solid var(--slightly-desaturated-cyan);
}

.nav-links > ul > li:hover {
  color: black;
  scale: 1.04;
}

.home-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 4rem;
}

.home-header > img {
  width: 100%;
  height: 60rem;
  border-radius: 1rem;
}

.title {
  width: 70rem;
  height: 43rem;
  background-color: var(--grayish-dark-blue);
  color: #fff;
  mix-blend-mode: luminosity;
  position: absolute;
  bottom: 3%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes titleLoadAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title > p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 4.6rem;
  font-weight: bold;
  color: #fff;
  padding-left: 2rem;
  padding-top: 1rem;
  animation: titleLoadAnimation 3s ease-in;
  mix-blend-mode: exclusion;
}

@keyframes aboutButtonAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-button {
  width: 50rem;
  height: 8rem;
  background-color: var(--grayish-dark-blue);
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.6rem;
  padding-left: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: -4rem;
  animation: aboutButtonAnimation 3s ease-in;
  mix-blend-mode: exclusion;
}

.about-button:hover {
  background-color: blue;
}

.about-button > img {
  width: 4rem;
  height: 3rem;
  position: absolute;
  left: 20%;
  top: 30%;
}

main {
  display: flex;
  padding-bottom: 2rem;
  padding: 0 0 4rem 8rem;
}

.image-container {
  width: 54rem;
  height: 55rem;
  border: 1px solid lightgrey;
}

.about {
  width: 60%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12rem;
}

.about-title {
  font-size: 5rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  padding-bottom: 2rem;
}

.about-description {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  color: var(--grayish-dark-blue);
  width: 80%;
  line-height: 2.8rem;
  opacity: 0.7;
  padding-bottom: 1rem;
}

.about-btn {
  width: 30rem;
  height: 6.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color: #fff;
  font-weight: 700;
  border-radius: 1rem;
  border: 1px solid var(--grayish-dark-blue);
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.about-btn:hover {
  background-color: var(--slightly-desaturated-cyan);
  color: var(--grayish-dark-blue);
  border: none;
  border-radius: 1rem;
}

.home-contact {
  padding: 10rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.home-contact-title {
  font-size: 5rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  padding-right: 2rem;
}

/* PORTFOLIO */

.projects-header {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.project-type-btn {
  width: 35rem;
  height: 6rem;
  font-size: 2rem;
  background-color: var(--dark-blue);
  color: #fff;
  /* color: #5fb4a2; */
  border: none;

  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
}

.project-arrow {
  width: 3rem;
  position: absolute;
  top: 30%;
  right: 5%;
  rotate: 270deg;
  /* filter: invert(100%); */
}

.card {
  width: 37rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.6rem;
}

.card-image {
  max-width: 100%;
  padding-bottom: 2rem;
  transition: transform 0.3s ease-out;
}
.card-image:hover {
  transform: scale(1.12);
  border-radius: 1rem;
}

.card-title {
  font-size: 2rem;
  color: var(--dark-blue);
  padding-bottom: 0.6rem;
}

.card-text {
  font-size: 1.5rem;
  opacity: 0.7;
  padding-bottom: 1rem;
  color: var(--dark-blue);
  padding-bottom: 1.5rem;
  line-height: 2.5rem;
}

.card-btn {
  width: 80%;
  height: 5.6rem;
  border: none;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  background-color: var(--dark-blue);

  overflow: hidden;
  letter-spacing: 0.2rem;
}

.card-btn:hover {
  background-color: var(--slightly-desaturated-cyan);

  border: 2px solid var(--slightly-desaturated-cyan);
  transition: all 0.2s ease;
}

.btn-arrow {
  width: 1.1rem;
  position: absolute;
  right: 7%;
  top: 33%;
  filter: invert(100);
  font-weight: 700;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
}

a > .card-btn {
  text-decoration: none;
  color: #fff;
}

button.active {
  background-color: #5fb4a2;
}
button.active > img {
  filter: brightness(0) invert(1);
}

/* CONTACT ME */

.line {
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-description,
.contact-actual {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  margin-top: 4rem;
  border-top: 1px solid lightgray;
}

.contact-description > h1,
.contact-actual > h2 {
  font-size: 4rem;
  font-family: "Ibarra Real Nova", serif;
}
.contact-description > p {
  font-size: 2rem;
  font-family: "Ibarra Real Nova", serif;
  width: 40%;
  line-height: 3rem;
  padding-bottom: 4rem;
}

.contact-details {
  border-radius: 1rem;
  width: 40%;
  padding: 4rem;
  background-color: var(--light-grey);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.contact-title {
  font-size: 2.4rem;
  color: var(--dark-blue);
}

.contact-info {
  font-size: 2.8rem;
  padding-left: 1rem;
  color: var(--grayish-dark-blue);
}

.email {
  color: var(--slightly-desaturated-cyan);
  text-decoration: underline;
  cursor: pointer;
}

a > img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

a > img:hover {
  transform: scale(1.2);
}

/* FOOTER CSS */

footer {
  font-family: "Public Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-right: 12rem;
  padding-top: 1rem;
  background-color: var(--dark-blue);
  width: 100%;
  height: 8rem;
  position: absolute;
  left: 0;
  right: 0;
}

footer > .nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12rem;
}

footer > .nav-links > ul {
  padding-left: 3rem;
}

footer > .nav-links > img {
  filter: invert(100%);
}

footer > .nav-links > ul > li {
  color: var(--very-light-grey);
}

.contact-links {
  width: 15rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.contact-links > a > img {
  filter: invert(100%);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.contact-links > a > img:hover {
  transform: scale(1.2);
}
